
/********************************
 *  BODY
 *******************************/

body {
    margin: 0;
    padding: 0;
    font-family: paskowy,visitor1,visitor2,foglihten,chocolatecake,Verdana,Geneva,'DejaVu Sans',sans-serif;
    background-color:#f1f1ee;
}

.content {
    /*width: 100%;*/
    /*width: 1200px;*/
}

/********************************
 *  CONTENT
 *******************************/

.main-container {
}

/********************************
 *  CANVASES
 *******************************/

.canvasContainer {
  /*overflow: hidden;*/
  position: relative;
  width: 1200px;
  height: 600px;

}

canvas {
  /*display: block;*/
  position: absolute;
  top: 0;
  left: 100px;
  /*background-color: red;*/
}

#debugCanvas {
  display: none;
  pointer-events: none
}

/********************************
 *  HEADER
 *******************************/

.banner {
    /*display: none;*/
    /*position: absolute;*/
    /*top: 20px;*/
    width: 100%;
}

.banner-content {
    /*border: 12px dashed #333333;*/
    /*background-color: #DDFFFF;*/
    /*width: 1200px;*/
    margin: 0 auto;
    /*padding: 0 30px;*/
}

/********************************
 *  FOOTER
 *******************************/

.foot {
    /*position: absolute;*/
    /*bottom: 10px;*/
    width: 100%;
}

.foot .footer-content {
    /*width: 1200px;*/
    margin: 0 auto;
    /*font: 25px paskowy;*/
    /*color:#113;*/
}

/********************************
 *  NAVIGATION
 *******************************/

.load-more {
    /*width: 100px;*/
    /*margin: 0 auto;*/
}

.load-more-image {
    /*width: 500px;*/
    margin: 10px 600px;
}

/********************************
 *  ASIDE
 *******************************/

/********************************
 *  FIGURES
 *******************************/

/********************************
 *  RESPONSIVE - GENERAL
 *******************************/

@media only screen and (min-width: 600px) and (max-width: 1007px) {
}

@media only screen and (min-width: 320px)  and (max-width: 599px) {
}

@media only screen and (max-width: 1007px) {
}